<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="reportScore" method="post">
        <label class="label-tips" for="projectName"></label>
        <input type="text" id="projectName" name="projectName" class="inputstyle"placeholder="Account"/>
        <label class="lable-tips" for="reason"></label>
        <input type="text" id="reason" name="reason" class="inputstyle" placeholder="Password"/>
        <label class="lable-tips" for="score"></label>
        <input type="text" id="score" name="score" class="inputstyle" placeholder="Password"/>

        <button class="but"type="submit" >Logins</button><BR>
    </form>


</body>
</html>